header {
  background-color: black;
  color: dimgrey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  margin: 0px -2000px;
  padding: 0px 2000px;
  height: 60px;
  width: 100%;
  max-width: 1400px;
  z-index: 999;
  box-sizing: initial;
}

header h1 {
  font-size: 1.5em;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
}

nav li {
  margin-left: 50px;
}