header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: dimgrey;
  margin: 0px -2000px;
  padding: 0px 2000px;
  position: fixed;
  height: 60px;
  width: 1400px;
}

header h1 {
  font-size: 1.5em;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  padding-left: 0;
}