html {
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

.App {
  max-width: 1400px;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
   color:#00A0C6; 
   text-decoration:none; 
}

.main {
  padding: 0 20px;
  padding-top: 120px;
  min-height: 100vh;
}

.main li {
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
  background: #dedede;
}

main li {
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
  background: #dedede;
}


.main-active {
  color:#00A0C6; 
}

.users-active {
  color:#00A0C6; 
}

.account-active {
  color:#00A0C6; 
}

.Polaris-Button--primary {
  background: #00A0C6;
  border: #00566b;
  box-shadow: inset 0 1px 0 0 #00566b, 0 1px 0 0 rgba(22, 29, 37, 0.05), 0 0 0 0 transparent;
}

.Polaris-Button--primary:hover {
  background: #00566b;
  border: #00566b;
  box-shadow: inset 0 1px 0 0 #00566b, 0 1px 0 0 rgba(22, 29, 37, 0.05), 0 0 0 0 transparent;
}
