html {
  overflow-y: scroll;
}

.App {
  max-width: 1400px;
  margin: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
   color:#00A0C6; 
   text-decoration:none; 
}

.main {
  padding: 0 20px;
  padding-top: 120px;
  min-height: 100vh;
}